.dropdown-items-container {
  cursor: pointer;
  position: absolute;
  transition: max-height 0.2s linear;
  overflow: auto;
  scrollbar-width: none;
  z-index: 10000;
  background: #fff;
  border-top: none;
  width: 100%;
  position: relative;
  max-height: 0px;
}

.dropdown-items-container.active {
  border: solid 1px rgb(206, 206, 206);
  max-height: 15rem;
}

.dropdown-items-container.inactive {
  border: none;
  max-height: 0px;
}

.dropdown-items-container::-webkit-scrollbar {
  width: 0;
}

.dropdown-item {
  padding-left: 0.5rem !important;
  color: #000;
  transition: max-height 0.2s linear, visibility 0.12s linear;
  background-color: #fff;
  z-index: 10000;
  height: 38px;
  line-height: 30px;
  vertical-align: center;
}

.dropdown-item:hover {
  color: #000;
  background-color: rgb(206, 206, 206);
}

.dropdown-item:active {
  color: #000;
  background-color: rgb(206, 206, 206);
}

.dropdown-input {
  background: rgb(206, 206, 206);
  color: #000;
  border: none;
}

.dropdown-input {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
}

.dropdown-input.form-control:focus {
  border-color: #ced4da;
}
