.autocomplete-input {
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  z-index: 5;
  width: clamp(0px, 100%, 60ch);
}

.autocomplete-options {
  display: none;
  position: absolute !important;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  width: 100%;
  z-index: 5;
}

.autocomplete-option {
  cursor: pointer;
}
